.service__card {
    color: white;
    padding: 0 15px;
}

.service__card__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}

.service__card__text {
    margin-bottom: 10px;
}


/* MAIN PART HEADERS */
.header__card {
    padding: 0 15px 20px 15px;
}

.header__card__title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px
}

.header__card__subtitle {
    font-size: 1.2rem;
    color: slategrey;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px lightgray;
}

/* PROJECTS */
.projects__cards__container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.card__photo {
    max-width: 100%;
}

.project__card {
    flex-basis: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project__card__body {
    margin: 20px 0 10px 0;
}

/* ARTICLES */
.articles__cards__container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.article__card {
    flex-basis: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card__subtitle {
    color:slategrey;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.card__subtitle span{
    color: red;
}

.article__card__body {
    margin-bottom: 10px;
}

/* FOOTER */
.footer__card {
    padding: 0 15px;
    width: 50vw;
}

.footer__card__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: white;
}

.footer__card li {
    padding: 7px 0;
    border-bottom: solid .5px rgba(211, 211, 211, 0.2);
}

.copyright {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.copyright p {
    padding: 10px 10px;
}