@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@300;400;700&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');
  
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: transparent;
    min-width: 100vw;
    min-height: 100vh;
    padding: 20px 0 20px 0;
}

body {
    line-height: 1.4;
}

  /* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav h2 {
    font-size: 3rem;
    font-weight: bold;
}

nav ul li {
    display: none;
}

/* Header */
#intro {
    display: none;
}

#services__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: red;
    padding: 40px 0;
}

.circle-icon {
    border: 6px solid white;
    padding:30px;
    border-radius: 50%;
}


/* Main Section */

#latest-projects {
    display: flex;
    flex-direction: column;
}

#latest-articles {
    display: flex;
    flex-direction: column;
}

/* Footer */

#footer_container {
    display: flex;
    flex-wrap: wrap;
    background-color:#3b3b3b;
    border-top: 5px solid #ed564b;
    color: lightgray;
    padding: 20px 0 40px 0;
}

@media only screen and (min-width: 768px) {
    nav ul li {
        list-style: none;
        display: inline;
        padding: 19px 10px;
    }

    nav {
        justify-content: space-around;
    }

    #intro {
        height: 365px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #intro h1 {
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    #intro p {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media only screen and (min-width: 960px) {

}